html,body{
	margin: 0;
	background:#00F;
	width: 100%;
	height: 100%;
}

/*Web*/
@media(min-width: 768px){
		/*container*/
		.container{
			width: 100%;
			height: 100%;
			margin: 0;
		}

		/*navbar*/
		.navbar{
			position: fixed;
			left: 0;
			width: 169px;
			height: 100%;
			background: #0F0;
			margin: 0;
		}

		/*.navbar #login_btn{
			right: 0;
			float: right;
			height: 100%;
			margin: 0;
			background:#F00;
		}*/

		.navar #logo{
			width: 100%;
			height: 56px;
			background-image:url(); 
		}

		/*login_form*/
		#login_form{
			display: none;
			width: 100px;
			height: 100px;
			background:#FF0;
		}


		/*footer*/
		.footer{
			width: 100%;
			height: 150px;
			margin: 0;
			background:#F00;
		}
}

/*Mobile*/
@media(max-width: 768px){
		/*container*/
		.container{
			width: 100%;
			height: 100%;
			margin: 0;
			background:#000000;
		}

		/*navbar*/
		.navbar{
			position: fixed;
			top:0;
			width: 100%;
			height: 100px;
			background: #0F0;
			margin: 0;
		}

		.navbar .login_btn{
			right: 0;
			height: 100%;
			margin: 0;
			background:#F00;
		}

		/*login_form*/
		.login_form{
			display: none;
			width: 100px;
			height: 100px;
			background:#FF0;

		}

		/*footer*/
		.footer{
			width: 100%;
			height: 100px;
			margin: 0;
			background:#F00;
		}
}